streamlit
streamlit-authenticator
openai
pandas
numpy
langchain
langchain_openai
langchain-community
unstructured
pdfminer
langchain-experimental
pysbd
pypdf
pymupdf 
PyMuPDF
pdfminer.six
lolviz
chromadb
datasets
langchain-chroma
langchain-classic
